body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    background-color: black;
    overscroll-behavior: none;
}

.bckgd-port {
    background-color: #000000;
    background-size: contain;
    height: fit-content;
}

.text {
    color: white;
    font-family: 'Raleway';
    text-align: center;
}

.cv-link a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
}

.cv-link li {
    color: white;
    list-style: none;
}

.cv-link {
    margin-bottom: 32px;
}

.portfolio-text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-top: 100px;
}

.glitch-portfolio {
    margin: 0;
    color: #f5f1ed;
    font-family: 'Poiret One';
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    padding-top: 150px;
    position: relative;
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    animation: glitch 1000ms infinite;
}

.glitch-portfolio span {
    position: absolute;
    top: 150;
    left: 150;
}

.glitch-portfolio span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}
.glitch-portfolio span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 90% 100%, 0 100%);
    transform: translate(.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes .glitch-portfolio {
    0% {
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    -0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    14% {
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    -0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    15% {
    text-shadow: -0.05em -0.025em 0 rgba(0, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(120, 120, 120, 0.75),
    -0.05em -0.05em 0 rgba(42, 124, 161, 0.75);
    }
    49% {
    text-shadow: -0.05em -0.025em 0 rgba(0, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(120, 120, 120, 0.75),
    -0.05em -0.05em 0 rgba(42, 124, 161, 0.75);
    }
    50% {
    text-shadow: 0.025em 0 0 rgba(0, 0, 0, 0.75),
    0.05em -0.05em 0 rgba(120, 120, 120, 0.75),
    0 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    99% {
    text-shadow: 0.025em 0 0 rgba(0, 0, 0, 0.75),
    0.05em -0.05em 0 rgba(120, 120, 120, 0.75),
    0 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(120, 120, 120, 0.75),
    -0.025em -0.05em 0 rgba(42, 124, 161, 0.75);
    }
}

.topnav a {
    color: #FFFFFF;
    font-family: 'Raleway';
    list-style: none;
    text-decoration: none;
    padding: 10px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.topnav a:hover {
    box-shadow: inset 100px 0 0 0 #2a7ca1bf;
    color: white;
}

.nav-all {
    list-style: none;
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 3fr;
    grid-gap: 30px;
    align-content: center;
}

.card-category {
    justify-content: center;
    align-items: center;
    color: #A7AD98;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.omnifood img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 5px;
    height: 230px;
    object-fit: cover;
}

h2 {
    text-decoration: underline;
}

.popup {
    width: 500px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup.open-popup {
    display: block;
}

.popup button {
    width: 50%;
    margin-top: 20px;
    padding: 10x 0;
    background: #2a7ca1bf;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.popup a {
    text-decoration: none;
    color: black;
}

.popupven {
    width: 500px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popupven {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup.open-popupven {
    display: block;
}

.popupven button {
    width: 50%;
    margin-top: 20px;
    padding: 10x 0;
    background: #2a7ca1bf;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.popupven a {
    text-decoration: none;
    color: black;
}

.venulet img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 5px;
    height: 230px;
    object-fit: cover;
}

.popupband {
    width: 500px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popupband {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popupband.open-popupband {
    display: block;
}

.popupband button {
    width: 50%;
    margin-top: 20px;
    padding: 10x 0;
    background: #2a7ca1bf;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.popupband a {
    text-decoration: none;
    color: black;
}

.bandmates img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 5px;
    height: 230px;
    object-fit: cover;
}

.popupmbf {
    width: 500px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popupmbf {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popupmbf.open-popupmbf {
    display: block;
}

.popupmbf button {
    width: 50%;
    margin-top: 20px;
    padding: 10x 0;
    background: #2a7ca1bf;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.popupmbf a {
    text-decoration: none;
    color: black;
}

.mbf img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 5px;
    height: 230px;
    object-fit: cover;
}

.glitch {
    color: #f5f1ed;
    font-family: 'Poiret One';
    text-align: center;
    font-weight: 700;
    font-size: 75px;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 0;
    position: relative;
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    animation: glitch 1000ms infinite;
}

.glitch span {
    position: absolute;
    top: 150;
    left: 150;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}
.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 90% 100%, 0 100%);
    transform: translate(.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    -0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    14% {
    text-shadow: 0.05em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(120, 120, 120, 0.75),
    -0.025em 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    15% {
    text-shadow: -0.05em -0.025em 0 rgba(0, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(120, 120, 120, 0.75),
    -0.05em -0.05em 0 rgba(42, 124, 161, 0.75);
    }
    49% {
    text-shadow: -0.05em -0.025em 0 rgba(0, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(120, 120, 120, 0.75),
    -0.05em -0.05em 0 rgba(42, 124, 161, 0.75);
}
    50% {
    text-shadow: 0.025em 0 0 rgba(0, 0, 0, 0.75),
    0.05em -0.05em 0 rgba(120, 120, 120, 0.75),
    0 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    99% {
    text-shadow: 0.025em 0 0 rgba(0, 0, 0, 0.75),
    0.05em -0.05em 0 rgba(120, 120, 120, 0.75),
    0 0.05em 0 rgba(42, 124, 161, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(0, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(120, 120, 120, 0.75),
    -0.025em -0.05em 0 rgba(42, 124, 161, 0.75);
    }
    
}

.footer {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    height: 60px;
}

.footer-copyright {
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 9px 80px 0 0;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
    color: #FFFFFF;
    margin: 4px 150px 0 0;
}

.linkedin {
    color: white;
    font-size: 25px;
    transition: 0.5s all ease-in-out;
}

.linkedin:hover {
    transform: scale(1.3);
    color: #1F66C2;
}

.twitter {
    color: white;
    font-size: 25px;
    transition: 0.5s all ease-in-out;
}

.twitter:hover {
    transform: scale(1.3);
    color: #2D9DF1;
}

.github {
    color: white;
    font-size: 25px;
    transition: 0.5s all ease-in-out;
}

.github:hover {
    transform: scale(1.3);
    color: rgb(255, 255, 255);
}

.email {
    color: white;
    font-size: 25px;
    transition: 0.5s all ease-in-out;
}

.email:hover {
    transform: scale(1.3);
    color: #D84C40;
}

// Smallest device
@media (min-width: 100px) {
ยง.cards {
    grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .cards {
    grid-template-columns: 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    .bckgd-port {
        padding-bottom: 116px;
    }
}

@media (max-width: 804 px) {
    .cards margin-top: 150px !important;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container .cards {
    grid-template-columns: 1fr 1fr 1fr;
    }
}